@import '../../styles/mediaqueries.scss';

.NavBar {
    width: 100%;

    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar { 
        display: none;
    }
}

.NavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 24px;
    width: 100%;
    padding: 0 10px;

    @include mobile {
        font-size: 20px;
    }
}

.NavBar ul li {
    margin: 0 15px;

    flex-shrink: 0;
}

.NavBar ul li h1 {
    font-size: 1em !important;
}

.NavBar ul li.selected {
    
    h1 {
        font-weight: 500;
    }
}